html{
    scroll-behavior: smooth;
 }
 body{
    background-color: rgb(43, 42, 42);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding-top: 7px;
}
nav a{
    margin-left: 30px;
    background-color: rgb(211, 92, 92);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    display: flex;
    position: sticky;
}
nav a:hover{
    margin-left: 30px;
    background-color: rgb(226, 221, 221);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(56, 18, 18);
    font-size: larger;
    display: flex;
}
.container{
    margin-top: 15px;
}
footer{
    background-color: black;
    height: 50vh;
    width: 85%;
    justify-content: center;
    margin-left: 17vh;
    margin-top: 15px;
}
.icons{
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
    margin-left: 88vh;
    margin-top: 25px;
}
footer h2{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: blanchedalmond;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.icons i{
    margin-left: 5vh;
}
.lists{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35vh;
}

footer a{
    color: blanchedalmond;
}